.overlay * {
  color: inherit;
  box-sizing: inherit;
}

#button-container {
  position: relative;
  z-index: 5;
}

#add {
  height: min(15vmin, 100px);
  width: min(15vmin, 100px);
  font-size: min(7.5vmin, 50px);
  border-radius: 50%;
  padding: 0px;
  border: none;
  outline: none;
  background-color: #fff;
  margin-top: 30px;
  position: fixed;
  bottom: 0%;
  right: 0%;
  transform: translate(-18%, -50%);
  cursor: pointer;
  box-shadow: 0 0 15px -1px gray;
}

@media only screen and (hover: none) and (pointer: coarse) {
  #add {
    transform: translate(-30%, 0);
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) {
  #add {
    top: 88%;
    transform: translate(-30%,-50%);
  }
}

#add-new-word {
  display: none;
}

#add:hover {
  background-color: rgba(255,255,255,0.6);
}

#add:hover div {
  background-color: #fff;
  color:#000;
  position: absolute;
  width: 70px;
  transform: translateX(-50%);
  top: -60px;
  left: 50%;
  display: block;
  font-size: min(20px, 4.8vw);
  padding: 5px;
  border-radius: 15px;
}

/* 
html {
  box-sizing: border-box;
} */

#submit-new-word-form {
  display: block;
}
#submit-new-word-form label,
#submit-new-word-form input {
  display: block;
}
/* .overlay .overlay-content, .overlay .overlay-content .overlay-close, .overlay .overlay-content .register-form input {
  transition: all 0.05s;
} */
/* div#button-container {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
} */
.main-heading {
  line-height: 100%;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
}
/* .btn {
  display: block;
  height: 50px;
  line-height: 50px;
  border: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.btn.btn-outline {
  background-color: transparent;
} */

.overlay {
  display: grid;
  grid-template: 1fr / 1fr;
  
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999999;
  visibility: hidden;
  opacity: 0;
  transform: translateY(200px) scale(0.5, 0.5);
  transition: opacity 0.5s, transform 0.5s;

}
.initial-state {
  transition: none;
}

.overlay-layers {
  grid-area: 1 / 1;
  border: solid 10px #fff;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .overlay-layers {
    border: solid 1vmin #fff;
  }
}

.overlay-first-layer {
  /* visibility: hidden; */
  
}

.overlay-second-layer {
  visibility: hidden;
}

.overlay .overlay-background {
  background-color: rgba(44, 62, 80, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
.overlay .overlay-content {
  border: solid 2px gray;
  border-radius: 10px;
  width: 75%;
  /* height: calc(100vh - 2px * 2 - 15px * 2 - min(100px, 5vmin) * 2);  */
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  max-width: 640px;
  margin: calc(min(100px, 5vmin) - 10px) auto calc(min(100px, 5vmin) - 10px);
  padding: 15px 15px;
  padding-right: 3px;
  color: #fff;
  position: relative;
  z-index: 20;

  --scroll-bar-color: #a3a3a3;
  --scroll-bar-color-hover: rgba(227, 227, 227, 0.88);
}

/* @media only screen and (hover: none) and (pointer: coarse) {
  .overlay .overlay-content {
    height: calc(100vh - 2px * 2 - 15px * 2 - min(100px, 5vmin) * 2 - 20vh);
  }
  .overlay-layers {
    height: calc(100vh - 2px * 2 - 15px * 2 - min(100px, 5vmin) * 2 - 10vh);
  }
} */

.scroll-bar-layer {
  height: 80vh;
  overflow-y: auto;
  padding-right: 12px;
}


/* .overlay-content::-webkit-scrollbar, */
.overlay-content *::-webkit-scrollbar {
	width: 5px;
}
/* .overlay-content::-webkit-scrollbar-thumb, */
.overlay-content *::-webkit-scrollbar-thumb {
	background: var(--scroll-bar-color)
}
/* .overlay-content::-webkit-scrollbar-thumb:hover, */
.overlay-content *::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-bar-color-hover);
}
/* .overlay-content::-webkit-scrollbar-corner, */
.overlay-content *::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

.overlay .overlay-content .overlay-close {
  display: block;
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 30px;
  top: 15px;
  z-index: 1;
}
.overlay .overlay-content .overlay-close:hover {
  opacity: 1;
  transform: scale(1.25);
  color: #e3e3e3;
}
.overlay .overlay-content .blurb {
  margin: 0;
  margin-top: min(35px, 5vmin);
  line-height: 100%;
  font-weight: 600;
  font-size: 18px;
}
.overlay .overlay-content .register-form {
  margin-top: 35px;
}
.input-layer {
  width: 100%;
}

.overlay .overlay-content .register-form input,
.overlay .overlay-content .register-form select,
.overlay .overlay-content .register-form textarea {
  background-color: transparent;
  width: calc(100% - 18px);
  margin-bottom: 20px;
  padding: 0 8px;
  border: 1px solid rgba(254, 254, 254, .3);
  border-radius: 5px;
  font-size: 20px;
}

.overlay .overlay-content label:not(.submit-btn-label) {
  margin-bottom: 10px;
}

.overlay .overlay-content .register-form input,
.overlay .overlay-content .register-form select {
  height: 30px;
}

.overlay .overlay-content .register-form textarea {
  resize: none;
  font-size: 20px;
  padding: 8px;
}

/* .overlay .overlay-content textarea:focus,
.overlay .overlay-content select:focus {
  outline: solid 1px #fff;
} */

/* .submit-btn {
  border: 1px solid rgba(254, 254, 254, .3);
} */

.overlay .overlay-content .register-form input:hover, .overlay .overlay-content .register-form input:focus,
.overlay .overlay-content .register-form select:hover,
.overlay .overlay-content .register-form select:focus,
.overlay .overlay-content .register-form textarea:hover,
.overlay .overlay-content .register-form textarea:focus {
  outline: none;
  border: solid 1px #fff;
}

/* .submit-btn {
  font-size: 20px;
  margin: auto;
}
.submit-btn-label {
  cursor: pointer;
} */
.submit-btn-input {
  position: absolute;
  visibility: hidden;
}

.overlay.open {
  visibility: visible;
  z-index: 20;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.1s, transform 0.1s;
}
/* .overlay.short .overlay-content {
  margin: 30px auto;
}
@media (max-width: 600px) {
  .overlay .overlay-content {
    margin: 25px auto;
 }
} */



.messagess, .form, form:not(#chat-form):not(.search-form) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
}
.new-word-btn-container {
  width: 100px;
  height: auto;
  background: white;
  position: absolute;
  display: grid;
  grid-template: 100% / 50% 50%;
  box-shadow: 2px 2px 10px 0 rgba(51, 51, 51, 0.2);
  transform: translateX(-50%);
  left: 50%;
  z-index: 20;
}
.messagess {
  position: absolute;
  background: purple;
  width: calc(50%);
  height: 100%;
  transition: 0.5s all ease;
  transform: translateX(100%);
  z-index: 21;
  border-left: solid 1px blue;
  background-color: rgba(44, 62, 80, 1);
}
.messagess:before {
  position: absolute;
  content: '';
  width: 5px;
  height: 70%;
  opacity: 0;
  left: 0;
  top: 15%;
  z-index: 21;
}
.messagess .button {
  margin: 5px 0;
}

.btn-wrapper {
  width: 60%;
}
.form {
  width: 100%;
  height: 100%;
  background-color: rgba(44, 62, 80, 0.9);
}

#give-new-word,
#edit-old-word {
  background-color: rgba(44, 62, 80, 0.9);
}