/* *{
    outline: 3px solid red;
} */

/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */
@font-face {
	font-family: "naikai";
	src: URL("/font/NaikaiFont-Regular-Lite.ttf") format("truetype");
}

@font-face {
  font-family: "pigmo";
  src: URL("/font/Pigmo-00.otf") format("opentype");
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

:root {
	--dark-color-a: #005a9e;
	--dark-grey-color: rgb(53, 54, 58);
	--dark-color-b: #71afe5;
	--light-color: #e6e9ff;
	/* --light-color: rgb(53, 54, 58); */
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--scroll-bar-color: #aaa;
	--scroll-bar-color-hover: rgba(227, 227, 227, 0.88);
	scrollbar-color: #0A4C95 black;
}



.chat-container *::-webkit-scrollbar {
width: 5px;
}
.chat-container *::-webkit-scrollbar-thumb {
background: var(--scroll-bar-color);
}
.chat-container *::-webkit-scrollbar-thumb:hover {
background: var(--scroll-bar-color-hover);
}
.chat-container *::-webkit-scrollbar-corner {
background: rgba(0,0,0,0);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: naikai, sans-serif, Arial, Helvetica;
}

.body-chatmain {
	font-size: 16px;
	background: var(--dark-grey-color);
	margin: 20px;
	overflow: hidden;

	/* display: flex;
	align-items: center;
	height: 100vh; */

	/* display: flex;
    flex-direction: column;
    height: 100vh; */
	
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

#arrow {
	font-size: 2em;
	margin-right: auto;
}
#arrow:hover {
	color: #e3e3e3;
	transform: scale(1.25);
}

.home-btn-btn:hover {
	color: #e3e3e3;
	transform: scale(1.25);
}

.btn {
	cursor: pointer;
	padding: 10px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 15px;
	border-radius: 30px;
	display: flex;
}

.plane-margin {
	margin-right: 10px;
}

input:focus, button:focus, .chat-input:focus {
	outline-offset: 0px;
	outline: none;
}

/* Chat Page */

.chat-container {
	max-width: 800px;
	width: 90vw;
	margin: auto auto;
	/* display: flex;
    flex-direction: column;
    height: 100vh; */
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 10px;
	position: relative;
}

/* @media only screen and (hover: none) and (pointer: coarse) {
	.chat-container {
		padding: 10px;
	}
}
 */
.white {
	color: #fff;
}

.chat-header {
	background: var(--dark-color-a);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.header-container {
	display: grid;
	grid-template-columns: max-content max-content;
	gap: 10px;
}

@media (max-width: 600px) {
	.title {
		display: none;
	}
	.chat-header {
		justify-content: flex-end;
	}
	
}


.chat-main {
	overflow-y: auto;
	flex: 1;	
	grid-template-columns: 1fr 3fr;
	display: grid;
	position: relative;
}

.chat-main::-webkit-scrollbar,
.suggestion-word-meaning::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background: transparent; /* make scrollbar transparent */
}

.chat-sidebar {
	background: var(--dark-color-b);
	padding: 20px 20px 40vh;
	overflow-y: auto;
	position: relative;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	/* edgar added */
	overflow-y: auto;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #154e80;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: rgb(82, 82, 82);
	/* edgar added */
	margin-left: 10px; 
}

.chat-form-container {
    padding: 20px 30px;
    /* background-color: var(--dark-color-a); */
    background-color: #f1f1f1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* cursor: pointer; */
}

.chat-form-container form {
	display: flex;
	flex: 1;
}

.chat-form-container .chat-input {
	font-size: 16px;
	padding: 15px;
	height: 16px;
	flex: 1;
	/* edgar added */
	margin-right: 20px;
	
	border-radius: 15px;
	border: none;
} 

.chat-input[placeholder]:empty:before {
	content: attr(placeholder);
	color: #555; 
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	width: 100vw;
}

.body-chathome{
    font-size: 16px;
    background: var(--dark-grey-color);
    /* margin: auto auto; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}
.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.join-header h1, .title {
	font-family: pigmo, sans-serif, Arial, Helvetica;
	margin-left: auto;
	margin-right: auto;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	#chat-sidebar {
		display: none;
	}
}




/* drop down button */

.dropbtn {
	/* background-color: #4CAF50; */
	/* color: white; */
	background-color:var(--light-color);
	color: var(--dark-color-a);
	padding: 10px;
	font-size: 17px;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 10px;
}
  
  .dropdown {
	position: relative;
	/* display: inline-block; */
	display: inline-flex;
	
}
  
  .dropdown-content {
	display: none;
	position: absolute;
	/* background-color: #f9f9f9; */
	right:0;
	background-color:var(--light-color);
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 20px;
}
  
.dropdown-btn {
	color: var(--dark-color-a);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
#leave-btn {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#members {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
  
.dropdown-btn:hover {
	background-color: #73A5C6
}
  
  .dropdown:hover .dropdown-content {
	display: block;
	/* edgar added */
	top:50px;
	
	
  }
  
  .dropdown:hover .dropbtn {
	/* background-color: #3e8e41; */
	background-color:#73A5C6;
  }



/* search button */

.search-form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: var(--light-color);
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.search-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.search-position{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: var(--dark-color-a);
    text-align: center;
    font-size: 1.2em;
    /* transition: all 1s; */
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/* 
.search-form:hover input,
.search-form:focus input,
.search-form:active input
{
    display: block;
} */

.search-position{
  cursor: pointer;
}

.chat-form-and-preview-container {

	background-color: #f1f1f1;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	height: 117px;
	margin-bottom: 50px;
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) {
	.chat-form-and-preview-container {
		margin-bottom: 0;
	}
	.body-chatmain {
		margin: 0px 0;
	}
	.chat-form-container {
		height: 77px;
	}
	.chat-container {
		padding: 0;
		flex: 1;
	}
}

.suggestion-list-container {
	/* border-top-left-radius: 20px;
	border-top-right-radius: 20px; */
	max-height: 40vh;
	position: fixed;
	width: calc(min(90vw, 800px) - 20px);
	/* visibility: hidden; */
	/* z-index: 1000;	 */
}

.suggestion-list {
	max-height: 40vh;
	/* height: 30vh; */
	overflow-y: auto;
	overflow-x: hidden;
	/* outline: 1px solid red; */
	/* margin-left: 0.5em; */
	/* margin-right: calc(0.5em + 15px); */
	padding: 10px;
	width: 100%;
	word-break: break-all;
	/* background-color: #f1f1f1; */
	background-color: rgba(44, 62, 80, 0.9);
	color: #fff;
	visibility: hidden;
	/* z-index: 1000; */
}
.suggestion-word {
	padding: 5px;
	padding-left: 30px;
	position: relative;
}
.suggestion-word-meaning {
	padding: 15px;
	/* padding-left: 30px; */
	position: absolute;
	right: 0;
	max-width: 50%;
	width: 50%;
	max-height: 60vh;
	overflow-y: auto;
	border-radius: 15px;
	z-index: 1000;
	background-color: rgba(53, 54, 58);
	box-shadow: 0 0 50px 10px #fff;
	color: #fff;
	word-break: break-all;
	transform: translateX(-10%);
}
@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) {
	.suggestion-word-meaning {
		width: 50%;
		max-width: 50%;
		max-height: 20vh;
		transform: translateX(0%);
		right: 2%;
	}
	.suggestion-list-container {
		width: 100vw;
	}
}
@media screen and (hover: none) and (pointer: coarse) {
	.suggestion-list {
		max-height: 30vh;
	}
	.suggestion-list-container {
		max-height: 30vh;
		width: 100vw;
	}
}
.suggestion-word:hover {
	background-color: rgba(127, 255, 212, 0.4);
}
.suggestion-word:focus {
	background-color: var(--dark-color-b);
	outline: none;
}
.input-highlight {
	background-color: yellow;
	text-decoration: underline;
}
.preview {
	background-color: #fff;
	font-size: 16px;
	padding-left: 45px;
	/* text-align: center; */
	vertical-align: middle;
	height: 40px;
	margin: auto;	
	border-radius: 15px;
	border: none;
	display: flex;
	align-items: center;
}

.search-response-list-container {
	max-height: 40vh;
	position: fixed;
	width: calc(min(90vw, 800px) - 20px);
	top: 0;
	/* width: 100%; */
	/* visibility: hidden; */
	/* z-index: 1000; */
}

.search-response-list {
	max-height: 40vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
	width: 100%;
	word-break: break-all;
	background-color: rgba(44, 62, 80, 0.9);
	color: #fff;
	visibility: hidden;
	/* z-index: 1000; */
}

.search-word {
	padding: 5px;
	padding-left: 30px;
	position: relative;
	cursor: pointer;
}
@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) {
	.search-response-list-container {
		width: 100vw;
	}
}
@media screen and (hover: none) and (pointer: coarse) {
	.search-response-list {
		max-height: 30vh;
	}
	.search-response-list-container {
		max-height: 30vh;
		width: 100vw;
	}
}
.search-word:hover {
	background-color: rgba(127, 255, 212, 0.4);
}
.search-word:focus {
	background-color: var(--dark-color-b);
	outline: none;
}

.overlay-search-result {
	display: flex;
	align-items: center;
}

.overlay-content-search-result {
	width: 70vw;
	height: auto;
}

#overlay-member {
	background-color: rgba(113, 175, 229, 0.7)
}

.inline-list {
  display: inline-block;
}

.box-shadow-list {
  /* box-shadow: 0 5px 10px 1px #a3a3a3; */
  border-bottom: 1px solid #a3a3a3;
  margin-bottom: 15px;
}

.key {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 10px;
  line-height: 150%;
}

#idioms {
	height: auto;
	max-height: 70vh;
  overflow-y: auto;
  --scroll-bar-color: #aaa;
  --scroll-bar-color-hover: rgba(227, 227, 227, 0.88);
  scrollbar-color: #0A4C95 black;
}
#idioms::-webkit-scrollbar {
	width: 5px;
}
#idioms::-webkit-scrollbar-thumb {
	background: var(--scroll-bar-color);
}
#idioms::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-bar-color-hover);
}
#idioms::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

.idioms-situation,
.meanings,
.examples {
  line-height: 150%;
}

