.data_table {
  line-height: 150%;
  font-size: 12px;
  margin: auto auto;
  width: 90%;
  max-width: 800px;
  padding-top: 10px;
  margin-top: calc(5vh + max(5px, 2vw) * 2 + max(2vh, 16px) * 3 + max(3vh,5px));
  margin-bottom: 65px;
  height: calc(100vh - calc(5vh + max(5px, 2vw) * 2 + max(2vh, 16px) * 3) - max(3vh,5px) - 65px);
  overflow-y: auto;
  --scroll-bar-color: #aaa;
  --scroll-bar-color-hover: rgba(227, 227, 227, 0.88);
}
.data_table::-webkit-scrollbar {
	width: 5px;
}
.data_table::-webkit-scrollbar-thumb {
	background: var(--scroll-bar-color);
}
.data_table::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-bar-color-hover);
}
.data_table::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

@media (hover: none) and (pointer: coarse) and (orientation: portrait) {
  .data_table {
    height: calc(100vh - calc(5vh + max(5px, 2vw) * 2 + max(2vh, 16px) * 3) - max(3vh,5px) - min(100px, 10vh) - 10px);
    padding-bottom: 100px;
  }
}

/* @-moz-document url-prefix() { 
  .data_table {
    margin-bottom: 0px;
  }
} */

.data_block {
  width: 100%;
  color: #fff;
  float: left;
  list-style-type: none;
  transition: all 0.0001s;
  position: relative;
  box-sizing: border-box;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 gray;
  cursor: pointer;
}

.data_block_container {
  display: table;
  background: #3282b8;
  width: 100%;
  height: 70px;
  border-radius: 30px;
}

.data_details {
  font-weight: bold;
  display: table-cell;
  font-size: 24px; 
  vertical-align: middle; 
  text-align: center;
}

.data_block:hover {
  box-shadow: 0 0 0px 2px rgba(178, 178, 178, 0.5);
  transform: scale(1.04) translateY(-5px);
  z-index: 100;
}
.data_block:hover .data_block_container {
  background: linear-gradient(#db7224, #f9b84a);
  box-shadow: inset 0 0 45px 1px #db7224;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {

  .data_block {
    width: calc(50% - 10px);
  }
}
@media only screen and (min-width: 769px) {
  .data_block {
    width: calc(25% - 10px);
  }
}
@media only screen and (max-width: 299px) {
  .data_table {
    width: 75%;
  }
  .data_block {
    margin-left: auto;
    margin-right: auto;
  }
}