*{
    outline: px solid red;
}

@font-face {
	font-family: "naikai";
	src: URL("/font/NaikaiFont-Regular-Lite.ttf") format("truetype");
  }
  

body {
	background-color: rgb(53, 54, 58);
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: naikai, sans-serif, Arial, Helvetica;
}

.container {
	width: min(800px, 100vw);
	margin: auto;
}
.chat {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: #f1f0e8;
}
.chat-header {
	display: flex;
	cursor: pointer;
	position: relative;
}
.profile {
	width: 100%;
	background: #005a9e;
	display: flex;
	align-items: center;
	height: 60px;
	padding: 0px 10px;
	/* position: relative; */
}
.profile .pp {
	width: 50px;
	display: inline-block;
	border-radius: 50%;
	margin-left: 32px;
}
.profile .arrow {
	display: inline-block;
	width: 30px;
	position: absolute;
	top: 19px;
	cursor: pointer;
}
.profile h2 {
	display: inline-block;
	line-height: 60px;
	vertical-align: bottom;
	color: #fff;
	font-size: 20px;
}
.profile span {
	color: #ccc;
	position: absolute;
	top: 42px;
	left: 100px;
	font-size: 14px;
}
.right .icon {
	display: inline-block;
	width: 25px;
	margin-left: 10px;
	font-size: 25px;
	color:#fff;
}

/* .right .more {
	color:#fff;
}

.right .search{
	color:#fff;
} */

.profile .left {
	flex: 1;
}

.chat-box {
	/* background: url('../img/bg.jpeg'); */
	background-color: rgb(53, 54, 58);
	background-attachment: fixed;
	padding-left: 20px;
	overflow-y: auto;
	flex: 1;
}
.chat-box .img_chat {
	width: 280px;
}

.chat-r {
	display: flex;
}
.chat-r .space {
	flex: 1;
}

.chat-l {
	display: flex;
}
.chat-l .space {
	flex: 1;
}

.chat-box .mess {
	max-width: 300px;
	background: #d4d4d4;
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0px;
	cursor: pointer;
}
.chat-box .mess p {
	word-break: break-all;
	font-size: 18px;
}
.chat-box .mess-r {
    background: #c7e0f4;
}
.chat-box .emoji {
	width: 20px;
}
.chat-box .check {
	float: right;
}
.chat-box .check img {
	width: 20px;
}
.chat-box .check span {
	color: #888;
	font-size: 12px;
	font-weight: 700px;
}

*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
	background: #aaa;
}
*::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.chat-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
	position: relative;
	cursor: pointer;
}
.chat-footer textarea {
	display: block;
	flex: 1;
	width: 100%;
	height: 50px;
	border-radius: 60px;
	margin: 5px;
	padding: 10px;
	outline: none;
	font-size: 19px;
	padding-left: 40px;
	padding-right: 90px;
	border: 2px solid #ccc;
	color: #555;
	resize: none;
}
.chat-footer .mic {
	display: block;
	width: 55px;
    height: 45px;
    margin-right: 20px;
}
.chat-footer .emo{
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: 10px;
	top: 12px;
}
.chat-footer .icons {
	position: absolute;
	right: 100px;
	top: 10px;
}
.chat-footer .icons img{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: 5px;
}


.search-area {
    /* background-color: #fff; */
    position: absolute;
    top: 0px;
    right: 95px;
    width: min(240px, 30vw);
    height: 60px;
    font-size: 20px;
    padding: 20px;
    border: none;
	border-radius: 30px;
}


ul.unordered{
	text-decoration: none;
	list-style-type: none;
	position:absolute;
	background-color: #fff;
	border-radius: 30px;
	padding: 20px;
	min-width: 150px;
	top: 60px;
	transform: translateX(-100%);
	display: none;
	/* width: 120px;
	height: 120px; */
}

ul.unordered .list{
	padding: 5px;
	text-decoration: none;

}


.unordered a{
	text-decoration: none;
	color: black;
}



