.idioms-container {
  position: relative;
  background-image: url('img/idioms/shiny-white-gray-background-with-wavy-lines.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: max(30px, 5vh);
  padding: min(50px, 8vw);
  box-shadow: 0 0 50px 1px gray;
  font-size: 24px;
  margin: auto auto;
  width: 80%;
  max-width: 800px;
  padding-top: 10px;
  margin-top: calc(5vh + max(5px, 2vw) * 2 + max(2vh, 16px) * 3 + max(3vh,5px));
  margin-bottom: 65px;
  height: calc(100vh - calc(5vh + max(5px, 2vw) * 2 + max(2vh, 16px) * 3) - max(3vh,5px) - 65px);
}

#idioms {
  height: calc(100vh - calc(5vh + max(5px, 2vw) * 2 + max(2vh, 16px) * 3) - max(3vh,5px) - 65px - 10px);
  overflow-y: auto;
  --scroll-bar-color: #aaa;
  --scroll-bar-color-hover: rgba(227, 227, 227, 0.88);
  scrollbar-color: #0A4C95 black;
}
#idioms::-webkit-scrollbar {
	width: 5px;
}
#idioms::-webkit-scrollbar-thumb {
	background: var(--scroll-bar-color);
}
#idioms::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-bar-color-hover);
}
#idioms::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) {
  .idioms-container {
    height: calc(100vh - calc(5vh + max(5px, 2vw) * 2 + max(2vh, 16px) * 3) - max(3vh,5px) - 20vh);
  }
  #idioms {
    height: calc(100vh - calc(5vh + max(5px, 2vw) * 2 + max(2vh, 16px) * 3) - max(3vh,5px) - 30vh);
    padding-bottom: 10vh;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
  .idioms-container {
    font-size: 16px;
    height: calc(100vh - calc(5vh + max(5px, 2vw) * 2 + max(2vh, 16px) * 3) - max(3vh,5px) * 3);
    width: 60%;
  }
  #idioms {
    height: calc(100vh - calc(5vh + max(5px, 2vw) * 2 + max(2vh, 16px) * 3) - max(3vh,5px) * 3);
    padding-bottom: 100px;
  }
}

.fav-star {
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 36px;
  cursor: pointer;
}

.fav-star:hover {
  color: rgb(255,195,11);
  transition: 0.5s all ease;
}

.key {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 10px;
  line-height: 150%;
}

.idioms-situation,
.meanings,
.examples {
  line-height: 150%;
}

.inline-list {
  display: inline-block;
}

.box-shadow-list {
  /* box-shadow: 0 5px 10px 1px #a3a3a3; */
  border-bottom: 1px solid #a3a3a3;
  margin-bottom: 15px;
}





