.card-body {
  overflow: hidden;
  font-size: 12px;
  padding-top: 30vh;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  height: 100vh;
}

@media (max-height: 800px) {
  .card-body {
    padding-top: 25vh;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
  .card-body {
      padding-right: max(10%, 100px);
  }
}

.no-transition {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.stackedcards-overflow {
  overflow-y: hidden !important;
}

.stackedcards.init {
  opacity: 0; /* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
}

.stackedcards {
  position: relative;
  cursor: pointer;
}

.stackedcards * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stackedcards--animatable {
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.stackedcards .stackedcards-container > *,
.stackedcards-overlay {
  position: absolute;
  width: 100%; /* set 100% */
  height: 40vh; /* set 100% */
  will-change: transform, opacity;
  top: 0;
  border-radius: 10px;
}

.stackedcards-overlay.left > div,
.stackedcards-overlay.right > div,
.stackedcards-overlay.top > div {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stackedcards-overlay.left,
.stackedcards-overlay.right,
.stackedcards-overlay.top {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  top: 0;
  height: 100%;
  font-size: 24px; /* this style was added only for better preview */
  text-transform: uppercase; /* this style was added only for better preview */
  font-weight: 500; /* this style was added only for better preview */
  color: #fff; /* this style was added only for better preview */
}

.stackedcards-overlay.top {
  background: #e38568;
}

.stackedcards-overlay.right {
  font-size: 2em;
  background: #e58d93;
}

.stackedcards-overlay.left {
  font-size: 2em;
  background: #7bb3c5;
}

.stackedcards-overlay.left:empty,
.stackedcards-overlay.right:empty,
.stackedcards-overlay.top:empty {
  display: none !important;
}

.stackedcards-overlay-hidden {
  display: none;
}

.stackedcards-origin-bottom {
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}

.stackedcards-origin-top {
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.stackedcards-bottom,
.stackedcards-top,
.stackedcards-none {
  background: #fff; /* set card background background */
  height: 100%;
}

.stackedcards .stackedcards-container > :nth-child(1) {
  position: relative;
  display: block;
}

/* global actions buttons*/
.global-actions {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin-top: 10px;
}

.top-action,
.right-action,
.left-action {
  width: 100%;
  height: 2em;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  box-shadow: 0 0 50px 0px gray;
}

.top-action:hover,
.right-action:hover,
.left-action:hover {
  opacity: 0.8;
}

.top-action {
  background: #e38568;
  margin-left: 10px;
  margin-right: 10px;
}

.right-action {
  background: #e58d93;
}
.left-action {
  background: #7bb3c5;
}

.drag-left {
  margin-right: 5px;
}

.drag-right {
  transform: scaleX(-1);
  margin-left: 5px;
}

@media screen and (max-width: 615px) {
  .top-action,
  .right-action,
  .left-action {
    font-size: 1.5em;
  }
}

/* elements on stacked cards */
.card-item {
  background-image: url("img/idioms/summarybg.jpeg");
  box-shadow: 0 0 50px 0px gray;
}