@font-face {
  font-family: "naikai";
  src: URL("/font/NaikaiFont-Regular-Lite.ttf") format("truetype");
}

@font-face {
  font-family: "pigmo";
  src: URL("/font/Pigmo-00.otf") format("opentype");
}

* {
  font-family: naikai, sans-serif, Arial, Helvetica;
  /* box-sizing: border-box; */
}

:root {
  --color-mode: invert(0);
  --rotate: rotate(0deg);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 320px) {
  body {
    overflow-x: auto;
  }
}

body {
  /* background-color: rgb(53, 54, 58); */
  color: #fff;
}

a {
  text-decoration: none;
  color:#fff;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

header {  
  background-color: transparent;
  padding: max(5px, 2vw);
  padding-left: 0;
  padding-right: 0;
  position: relative;
  top:0%;
  /* left:0%; */
  right: max(5px, 2vw);
  width: 100%;
  color: #fff;
}

.header-container {
  height: 5vh;
  overflow: hidden;
}

header #icon {
  font-family: pigmo;
}

header .menu {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .button p {
  margin: 0;
}

header .button p:hover {
  text-decoration: underline;
}

.button-text-container {
  display: inline-block;
}

header .button {
  font-size: max(30px,min(3vh, 40px));
  margin-left: max(10px, 2vw);
  text-decoration: none;
  text-align: right;
}

#user-icon {
  height: max(30px,min(3vh, 40px));
  width: max(30px,min(3vh, 40px));
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

#user-icon:hover {
  transform: scale(1.5);
  transition: all 0.5s ease;
}

#login-text {
  cursor: pointer;
}

.fontAwesome-size, .toggle-up {
  font-size: max(30px,min(3vh, 40px));
  margin-left: max(10px, 2vw);
}


@media (max-height: 700px) {
  header .button {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
    text-align: right;
  }
}

#dropdown-menu {
  display: none;
}

@media (max-width: 900px) {
  header .button, .fontAwesome-size,
  .toggle-up {
    font-size: max(30px,min(2vh, 40px));
  }
}

@media (max-width: 620px) {
  header .button, .fontAwesome-size,
  .toggle-up {
    font-size: max(20px,min(1.7vh, 24px));
  }

  #user-icon {
    height: max(20px,min(1.7vh, 24px));
    width: max(20px,min(1.7vh, 24px));
  }
}

.toggle-down, .toggle-up {
  color: #fff;
}

.toggle-up {
  margin-right: 15px;
  cursor: pointer;
}

.toggle-down i {
  display: none;
  margin: 0;
  cursor: pointer;
}


@media (min-height: 784px) {
  .fontAwesome-size {
    font-size: 3vh;
  }
  header .button {
    margin-right: 1.3em;
  }
}

main.homepage {
  display: grid;
  grid-template-rows: 28vh 140px 40vh;
}

@media (max-height: 300px) {
  main.homepage {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
  main.homepage {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.title-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}


.title-word {
  display: inline-block;
  transform: var(--rotate);
  font-family: pigmo, naikai, sans-serif, Arial, Helvetica;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
  font-size: min(calc(65vw / 5), 28vh * 0.7, 161px);
}

.join,
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  position: relative;
}

/* @media not screen and (hover: none) and (pointer: coarse){
  .left-half-circle {
    background-color: #fff;
    height: 23px;
    width: calc(23px/2);
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
    font-size: 0px;
    border: solid #fff 1px;
  }

  .right-half-circle {
    background-color: #fff;
    height: 23px;
    width: calc(23px/2);
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;
    font-size: 0px;
    border: solid #fff 1px;
    margin-right: 10px;
  }
} */

.join #join,
.search #search {
  width: 60vw;
  font-size: min(20px, calc(70vw / 15));
  border: none;
  border-radius: 21.5px;
  padding: 10px;
}

.search-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-icon {
  position: absolute;
  color: black;
  transform: translateX(-50%);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.input{
  margin-top: auto;
  margin-bottom: auto;
}

input:focus, button:focus {
  outline-offset: 0px;
  outline: none;
}

.input button {
  width: 120px;
  font-size: 20px;
  height: 43px;
  border-radius: 10px;
  margin-left: max(15px, 1.3vw);
  background-color: #fff;
  padding: 5px;
  /* filter: var(--color-mode); */
}

@media (max-width: 400px) {
  .join #join,
  .search #search {
    width: 70vw;
    font-size: calc(70vw / 15);
  }
  .input button {
    width: 70px;
    font-size: calc(70px / 6);
    height: 37px;
  }
}

@media (min-width: 930px) {
  .join #join,
  .search #search {
    width: 560px;
  }
}

.more-buttons {
  display: flex;
  justify-content: center;
}

.more-buttons .hot-topic {
  margin: 10px;
  margin-right: 5vw;
  font-size: 1.2em;
  /* filter: var(--color-mode); */
}

.more-idioms {
  position: absolute;
  visibility: hidden;
}

.icons {
  justify-content: center;
}

.icon-labels {
  display: inline-block;
  margin-right: 3vw;
  cursor: pointer;
  transform: var(--rotate);
}

.tile-icon {
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-top: 16px;
  /* filter: var(--color-mode); */
}

#tile-icon-chiuyu {
  /* height: 100px;
  width: 120px; */
  height: 80px;
  width: 96px;
}

.tile-text-chiuyu {
  font-size: 24px;
}

p.hit-text:hover {
  text-decoration: underline;
}

p.hit-text {
  margin: 0;
  padding: 0;
  color:black;
}



@media only screen and (hover: none) and (pointer: coarse) {
  header .button-text-container {
    font-size: max(12px, 60vw / 30);
  }
  header .menu {
    justify-content: space-evenly;
  }
  .toggle-up {
    display: block;
    margin-right: 0;
  }
  header .button {
    margin-right: 0;
  }
  /* .title-icon {
    
  } */
  #tile-icon-chiuyu {
    height: 60px;
    width: 72px;
    margin-top: 0;
  }

  p.hit-text {
    font-size: 20px ;
    color:black;
  }
}

#search {
  position: relative;
}

.homepage-search-list {
  position: absolute;
	max-height: 40vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
	width: 100%;
	word-break: break-all;
	background-color: rgba(44, 62, 80, 0.9);
	color: #fff;
	visibility: hidden;
	/* z-index: 1000; */
  top:40px;
  z-index: 100;
}

.home-search-word {
	padding: 5px;
	padding-left: 30px;
	position: relative;
	cursor: pointer;
}

@media screen and (hover: none) and (pointer: coarse) {
	.homepage-search-list {
		max-height: 30vh;
	}
}
.home-search-word:hover {
	background-color: rgba(127, 255, 212, 0.4);
}
.home-search-word:focus {
	background-color: var(--dark-color-b);
	outline: none;
}