.submit-btn {
  --ratio: 1;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .submit-btn {
    --ratio: 0.5;
  }
}

.submit-btn{
  position:relative;
  display:inline-block;
  margin:0;
  border: none;
  background-color: transparent;
  /* left: 50%;
  transform: translateX(-50%); */
  cursor: pointer;
  width: calc(150px * var(--ratio));
  /* height: calc(104px * var(--ratio)); */
}

.submit-btn label{
  color:white;
  cursor: pointer;
  text-align: center;
  /* height: calc(64px * var(--ratio)); */

  background-color: rgba(44, 62, 80, 0.6);
  display:block;
  position:relative;
  margin-bottom: calc(10px * var(--ratio));
  padding:calc(20px * var(--ratio)) calc(40px * var(--ratio));
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px calc(1px * var(--ratio)) 0px rgb(0, 20, 35);
  filter: drop-shadow(0px calc(1px * var(--ratio)) rgb(0, 20, 35));
  
  -webkit-box-shadow:inset 0 calc(1px * var(--ratio)) 0 rgb(91, 109, 129), 0 calc(10px * var(--ratio)) 0 rgb(0, 20, 35);
  -moz-box-shadow:inset 0 calc(1px * var(--ratio)) 0 rgb(91, 109, 129), 0 calc(10px * var(--ratio)) 0 rgb(0, 20, 35);
  box-shadow:inset 0 calc(1px * var(--ratio)) 0 rgb(91, 109, 129), 0 calc(10px * var(--ratio)) 0 rgb(0, 20, 35);
  
  -webkit-border-radius: calc(5px * var(--ratio));
  -moz-border-radius: calc(5px * var(--ratio));
  border-radius: calc(5px * var(--ratio));

  line-height: 100%;
  margin-bottom: calc(10px * var(--ratio));
  font-size: calc(24px * var(--ratio));
}

.submit-btn label:active{
  top:calc(10px * var(--ratio));
  background-color: rgba(44, 62, 80, 1);
  opacity: 0.8;
  
  -webkit-box-shadow:inset 0 calc(1px * var(--ratio)) 0 rgb(91, 109, 129), inset 0 calc(-3px * var(--ratio)) 0 rgb(0, 20, 35);
  -moz-box-shadow:inset 0 calc(1px * var(--ratio)) 0 rgb(91, 109, 129), inset 0 calc(-3px * var(--ratio)) 0 rgb(0, 20, 35);
  box-shadow:inset 0 calc(1px * var(--ratio)) 0 rgb(91, 109, 129), inset 0 calc(-3px * var(--ratio)) 0 rgb(0, 20, 35);
}

.submit-btn:after{
  content:"";
  height:80%;
  width:100%;
  padding:calc(4px * var(--ratio));
  position: absolute;
  bottom:0px;
  left:calc(-4px * var(--ratio));
  z-index:-1;
  background-color:rgb(0, 20, 35);
  -webkit-border-radius: calc(5px * var(--ratio));
  -moz-border-radius: calc(5px * var(--ratio));
  border-radius: calc(5px * var(--ratio));
}