:root {
  --rotate: rotate(0deg);
  --lineLimit: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
  color: #000;
}

header {
  box-shadow: -5px 0 5px 0 gray;
  background-color: transparent;
}

main.summary {
  display: grid;
  grid-template: 1fr / 1fr;
}

main.summary section {
  grid-area: 1 / 1;
}

main.summary section.temporary {
  opacity: 0;
  transform: translateY(100%) scale(2, 2.5);
  visibility: hidden;
}

.animate-first-time {
  position: relative;
  top:30%;
  z-index: 0;
  transition: all 0.3s 0.3s ease;
  transition-property: opacity, transform, visibility;
  opacity: 1;
  transform: translate(0%, -30%);
  visibility: visible;
}

main.summary section.hidden {
  z-index: 1000000;
  transition: all 0.3s 0s ease-out;
  transition-property: opacity, transform, visibility;
  opacity: 0;
  transform: translateY(100%) scale(2, 2.5);
  visibility: hidden;
}


.header {
  position: fixed;
  height: 5vh;
  z-index: 4;
}

.img-container {
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
}

@media (max-height: 800px) {
  .img-container {
    display: none;
  }
}

.word-img {
  height: 20vh;
  width: 20vh;
  position: absolute;
  top: calc(5vh + max(5px, 2vw) * 2 + max(2vh, 16px) * 3);
}

.word-container {
  padding: 20px;
  width: auto;
  height: min(35vh, 400px);
}

.word-title {
  margin-bottom: 15px;
  font-size: 36px;
  overflow:hidden;
  /* height: 36px; */
  text-overflow: ellipsis;
  display:-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:1;
}

@media (max-width: 600px) {
  .word-title {
    font-size: 24px;
  }
}

.word-content {
  font-size: 18px;
  overflow-y:hidden;
  text-overflow: ellipsis;
  /* height: calc(min(35vh, 400px) - 36px - 15px - 5px); */
  text-overflow: ellipsis;
  display:-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:var(--lineLimit);
}

.arrow-rotate {
  transform: rotate(135deg);
}

/* @media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) { */
  /* .first-layer-container,
  .second-layer-container,
  .third-layer-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } */

  .third-layer-container {
    position: fixed;
    width: 18vw;
    height: max(2vh, 16px);
    box-shadow: inset 0px -1px 15px 0px rgba(192,192,192, 0.6);
    right:0vw;
    color: #fff;
    font-size: max(2vh,16px);
    border-bottom-left-radius: max(2vh,16px);
  }

  .second-layer-container {
    position: fixed;
    width: 22vw;
    height: max(4vh, 32px);
    box-shadow: inset 0px -1px 15px 0px rgba(192,192,192, 0.6);
    right:0vw;
    color: #fff;
    font-size: max(2vh,16px);
    border-bottom-left-radius: max(4vh,32px);
  }

  .first-layer-container {
    position: fixed;
    width: 22vw;
    height: max(4vh, 32px);
    right:0vw;
    color: #fff;
    font-size: max(2vh,16px);
    border-bottom-left-radius: max(4vh,32px);
    box-shadow: 0 4px 4px 0px gray;
  }

  .third-layer-container {
    top: calc(5vh + max(5px, 2vw) * 2);
    background-color: #486581;
    z-index: 6;
    cursor: pointer;
  }

  .second-layer-container {
    top: calc(5vh + max(5px, 2vw) * 2);
    background-color: #1d2d50;
    z-index: 5;
    cursor: pointer;
  }

  .first-layer-container {
    top: calc(5vh + max(5px, 2vw) * 2);
    z-index: 4;
  }

  .second-layer-container:hover .second-layer,
  .third-layer-container:hover .third-layer {
    opacity: 0.5;
  }

  .second-layer,
  .third-layer,
  .first-layer {
    position: fixed;
    height: max(2vh,16px);
  }

  .first-layer {
    left: 50%;
    top: calc(5vh + max(5px, 2vw) * 2 + max(2vh, 16px) * 2 + 2px);
    transform: translate(-50%, -100%);
    font-size: 36px;
  }
  
  .second-layer {
    right: 5vw;
    top: calc(5vh + max(5px, 2vw) * 2 + max(2vh, 16px));
  }
  
  .third-layer {
    right: 3vw;
  }
  
/* } */

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) {
  .third-layer-container {
    width: 70vw;
  }

  .second-layer-container {
    width: 80vw;
  }

  .first-layer-container {
    width: 80vw;
  }

  .first-layer {
    font-size: 18px;
    transform: translate(-50%, 50%);
  }
  
  .second-layer {
    right: 35vw;
  }
  
  .third-layer {
    right: 25vw;
  }
}