

a {
	color: #fff
}  


@font-face {
	font-family: "naikai";
	src: URL("/font/NaikaiFont-Regular-Lite.ttf") format("truetype");
}

:root {
	--scroll-bar-color: #aaa;
	--scroll-bar-color-hover: rgba(227, 227, 227, 0.88);
	scrollbar-color: #0A4C95 black;
}

* {
	box-sizing: border-box;
}

body {
	background-color: rgb(53, 54, 58);
	font-family: naikai;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	line-height: 2;

	min-height: 100vh;
	/* margin: 0; */
}

*::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background: transparent; /* make scrollbar transparent */
}


.fav-words-container *::-webkit-scrollbar {
width: 5px;
}
.fav-words-container *::-webkit-scrollbar-thumb {
background: var(--scroll-bar-color);
}
.fav-words-container *::-webkit-scrollbar-thumb:hover {
background: var(--scroll-bar-color-hover);
}
.fav-words-container *::-webkit-scrollbar-corner {
background: rgba(0,0,0,0);
}

.profile-container {
	background-color: #231E39;
	border-radius: 15px;
	box-shadow: 0px 10px 20px -10px rgba(62, 124, 204, 0.75);
	color: #B3B8CD;
	padding: 50px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
}

.profile-pic {
	width: 100px;
	display: inline-block;
	border-radius: 50%;
	/* margin-left: 32px; */
}

.profile-container .home {
	/* color: #231E39; */
	/* background-color: #FEBB0B; */

	font-size: 20px;
	
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
	
}

.profile-container .profile-pic {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 3px;
}

.submit {
	/* background-color: #03BFCB; */
	background-color: transparent;
	color: #02899C;
	border: 1px solid #03BFCB;
	border-radius: 10px;
	/* color: #231E39; */
	font-family: naikai;
	font-weight: 500;
	padding: 5px 10px;
}



.fav-words-container {
	background-color: #128C7E;
	border-radius: 20px;
	max-height: 10vh;
	overflow-y: auto;
	padding: 5px;
}

.scroll-bar-layer {
	max-height: 10vh;
	overflow-y: auto;
	height: 100%;
}

/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */


/* @font-face {
  font-family: "pigmo";
  src: URL("/font/Pigmo-00.otf") format("opentype");
} */

/* h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}  */

/* button.primary.ghost {
	background-color: transparent;
	color: #02899C;
} */

/* .skills {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
} */

/* .skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
} */

/* .skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}
